.containerPadre{
    position: relative;
}

.containerNotData {
    background-color: rgb(230, 42, 42);
    color: white;
    font-weight: bolder;
    border-radius: 15px;
}

.containerListEventos {
    max-width: 600px;
    max-height: 400px;
    overflow-x: auto;
}

thead tr th { 
    position: sticky;
    top: 0;
    z-index: 10;
}

.accordion {
    max-width: 1000px
}

.accordion-button {
    color: white;
    background-color: #3443c6e6 ;
    box-shadow: 0px 0px 5px 1px black;
}

.accordion-collapse {
    border-color: #2335d9;
    box-shadow: 0px 0px 5px 1px black;
}

label {
    font-size: 13px;
}

.eventSelect {
    background-color: rgb(76, 221, 76);
}