<div class="containerPadre">
    <h4>Configuraciones</h4>
    <p class="text-muted">La implementación de Mercado Pago es el metodo Agregador. Es decir, todos los eventos que se
        le active Mercado Pago como medio de pago, impactara a una sola cuenta.</p>


    <h5 class="ml-3 mt-4">Eventos habilitados</h5>

    <div class="container mt-4 mb-4">
        <div class="row  mx-auto">
            <div class="col col-md-5 p-0">
                <label class="form-label">Filtro por id</label>
                <input type="email" class="form-control" (keyup)="filterById($event.target.value)">
                <div class="container p-0 pt-3">
                    <div class="mx-auto">
                        <div class="container containerListEventos p-0">
                            <table *ngIf="!isLoading" class="table">
                                <thead class="table-dark">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">EVENTO</th>
                                        <th scope="col">ACTIVO</th>
                                    </tr>
                                </thead>
                                <tbody class="tbody">
                                    <tr *ngFor="let evento of listEventosHabilitados, let i = index" class="itemEvent">
                                        <td (click)="openConfigurationsEventoId(evento.id, i)">{{ evento.id }}</td>
                                        <td (click)="openConfigurationsEventoId(evento.id, i)">{{ evento.nombre }}</td>
                                        <td>
                                            <div class="form-check form-switch"
                                                (click)="openConfigurationsEventoId(evento.id, i)">
                                                <i class="bx bxs-arrow-to-right"></i>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-md-7">

                <div *ngIf="isEventoSelect" class="accordion-body">

                    <form [formGroup]="formDataMercadoPago" (submit)="saveDataMercadoPago()">
                        <div class="container mt-3">
                            <div class="row">
                                <div class="col-6">
                                    <label class="form-label">ID CUENTA MERCADO PAGO</label>
                                    <input type="email" class="form-control" formControlName="userIdMp">
                                </div>
                                <div class="col-6">
                                    <label class="form-label">NOMBRE DE CUENTA</label>
                                    <input type="email" class="form-control" formControlName="nombreCuenta">
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col">
                                    <label class="form-label">PUBLIC KEY</label>
                                    <input type="email" class="form-control" formControlName="publicKey">
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col">
                                    <label class="form-label">ACCESS TOKEN</label>
                                    <input type="email" class="form-control" formControlName="accessToken">
                                </div>
                            </div>

                            <div class="d-flex flex-row bd-highlight mb-3">
                                <div class="p-2 bd-highlight">
                                    <div class="row mt-2">
                                        <div>
                                            <label class="form-label">MAXIMA CANTIDAD DE CUOTAS</label>
                                            <input type="number" min="1" max="24" step="1" oninput="validity.valid||(value='');"
                                                class="form-control" placeholder="Cuotas" aria-describedby="basic-addon1"
                                                formControlName="maxCuotas" required>
                                        </div>
                                    </div>
                                </div>


                                <div *ngIf="errorGuardarData">
                                <div class="p-2 mb-0 bd-highlight">
                                    <div class="alert d-flex align-items-center pt-1 ps-1 pb-2" style="margin-top: 38px; color: white; background-color: rgb(230, 42, 42);" role="alert">
                                        <span class="iconify" data-icon="dashicons:no"></span>
                                        &nbsp;Error al guardar
                                    </div>
                                </div>
                                </div>
                                
                                <div *ngIf="guardarDataCorrectamente">
                                <div class="p-2 mb-0 bd-highlight">
                                    <div class="alert alert-success d-flex align-items-center pt-1 ps-1 pb-2" style="margin-top: 38px;" role="alert">
                                        <span class="iconify" data-icon="flat-color-icons:ok"></span>
                                        &nbsp;Guardado correctamente
                                    </div>
                                </div>
                              </div> 
                            </div>
                        </div>

                        <div class="d-grid mt-0">
                            <button class="btn btn-success" type="submit"
                                [disabled]="formDataMercadoPago.invalid">GUARDAR</button>
                        </div>
                    </form>

                    <div *ngIf="notDataConfigurations" class="container containerNotData mt-2">
                        <i class="bx bxs-error-alt"></i>
                        Este evento no tiene cuenta asociada.
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
