.containerListRegistros {
    max-width: 100%;
    max-height: 460px;
    overflow-x: auto;
}

thead tr th { 
    position: sticky;
    top: 0;
    z-index: 10;
}

.statusPendding  {
    background-color: rgb(255, 187, 0);
}

.statusAproved {
    background-color: rgb(98, 221, 98)
}